/* Container */
.container--fluid {
  width: 100%;
  overflow-x: hidden;
}

/* BG page App */
.bg--colors {
  background-image: url('https://res.cloudinary.com/datafordgf/image/upload/v1639599518/proyecto_led_store/bg_led_qekexe.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.9;
}